body{
  background-color: #00008B;
  color: red;
}
.bg{
  height: 150px;
  position: absolute;
  background-color: rgb(85, 137, 154);
 left: 20px;
 width: 220px;
 
}


.city{
  position: relative;
  top: 60px;
  left: 200px;
}
.city-name{
  font-size: 15px;
  position: relative;
bottom: 50px;
right: 200px;
top: 6px;

}
.clocklook{
  color: red;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  position: relative;
  height: 190px;
  background-color: aliceblue;

}
